@import "src/common/style.less";

.table{
  thead{
    tr{
      th{
        text-align: center;
        border: 1px solid @darkTableBorderColor;
      }
    }
  }
  tbody{
    tr{
      td{
        text-align: center;
        border: 1px solid @darkTableBorderColor;
      }
    }
  }
}
.moveIcon{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 20px;
  width: 40px;
  border-radius: 10px;
  cursor: move;
  border: 1px solid rebeccapurple;

  user-select: none;
  margin-bottom: 10px;


  font-size: 12px;
  font-weight: bold;
}
.paramsTools{
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  box-shadow: @darkBoxShadow;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  position: fixed;
  max-width: 200px;
  background: #242424;
}
.inputContainer{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 6px 0;
}
.canvasContainer{
  text-align: center;
}
.label{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
