.container{
  display: flex;
  flex-wrap: wrap;

}

.left{
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 0 50px black, 0 0 20px rgba(0, 0, 0, 0.5);
  margin-right: 20px;
}
.right{
  flex: 1;
  display: flex;
  justify-content: center;
}
