@import "src/common/style.less";
.container{
  display: flex;
  flex-wrap: wrap;

}

.left{
  flex: 1;
  border-radius: 8px;
  box-shadow: @darkBoxShadow;
  margin-right: 20px;
  padding: 10px 20px;
  float: left;
  position: relative;

  max-width: 200px;
}
.right{
  flex: 1;
  display: flex;
  justify-content: center;
}
