.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.canvas {
  width: 600px;
  height: 600px;
  border-radius: 16px;
  border: 1px solid black;
}
