.container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.canvas{
  border: 1px solid white;
}
.code{
  color: #f1e9e9;
  background: #0d0a30;
  padding: 0px 20px;
  margin: 10px 0;
  display: inline-block;
}


.buttons{
  display: flex;
  padding: 6px;
  button {
    cursor: pointer;
    margin: 0 4px;
  }
}
