.container {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%,0);
  width: 50vw;
  background: #32302D;

  padding: 10px 20px;
  z-index: 100;
  border-radius:8px ;
  box-shadow: 0 0 50px black, 0 0 20px rgba(0, 0, 0, 0.5);
}
.title{
  font-size: 12px;
  margin-bottom: 10px;
}

.img{
  height: 100px;
  border: 1px solid #2b1c1c;
  cursor: pointer;
  margin-right: 10px;
}
.imgContainer{
  overflow:  auto;
  max-height: 60vh;
}

.closeBtn{
  cursor: pointer;
}